<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation alert alert-danger">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, class: "form-control", required: true, autofocus: true, placeholder: t("activerecord.attributes.blog.title") %>
  </div>

  <div class="field form-group">
    <%= form.label :content, class: "sr-only" %>
    <%= form.text_area :content, class: "form-control", required: true, placeholder: t("activerecord.attributes.blog.content") %>
  </div>

  <div class="field form-group">
    <%= form.label :image, class: "sr-only" %>
    <%= form.file_field :image, class: "form-control", placeholder: t("activerecord.attributes.blog.image") %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field form-group">
    <%= image_tag(blog.image.url) if blog.image&.url %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
    <%= link_to t("views.button.back"), :back, class: "btn btn-warning" %>
  </div>
<% end %>
