<!DOCTYPE html>
<html>
  <head>
    <title>AwsBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class=header>
      <div class="header-logo">
        <%= link_to "Blogs", blogs_path, class= "header-logo"%>
      </div>
      <ul class="header-list">
        <% if current_user %>
          <li><%= link_to current_user.name, user_path(current_user)%></li>
          <li><%= link_to t("views.button.logout"), session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to t("views.button.signup"), new_user_path %></li>
          <li><%= link_to t("views.button.login"), new_session_path %></li>
        <% end %>
      </ul>
    </header>
    <main>
      <% flash.each do |key, message| %>
        <%= content_tag :div, message, class: "alert alert-#{key}" %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
